.footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgba(68, 68, 68, 255);
  padding: 1rem 3rem;
  margin: 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: white;
  text-decoration: underline;
}

.footer_h4 {
  color: white;
}

.icons {
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: white;
  color: rgba(110, 110, 110, 255);
  border-radius: 50%;
}

.paypal_icons {
  margin: -1rem;
}

.copyrights {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  margin: 0;
  padding: 0 4rem;
}

@media (max-width: 769px) {
  .mail{
    font-size: x-small;
  }
  .icons {
    size: 10px;
  }
}

@media (max-width: 426px) {
  .mail{
    font-size: medium;
  }
  .icons {
    size: 10px;
  }
}