.footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgba(68, 68, 68, 255);
  padding: 2.5rem 3rem;
  margin: 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: white;
  text-decoration: underline;
}

.footer_h4 {
  color: white;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .3rem;
  background-color: white;
  color: rgba(110, 110, 110, 255);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.icons{
  display: flex;
}

.paypal_icons {
  margin: -1rem -2rem;
}

.copyrights {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  margin: 0;
  padding: .5rem 6rem;
}

@media (max-width: 769px) {
  .mail{
    font-size: x-small;
  }
  .icons {
    size: 10px;
  }
}

@media (max-width: 426px) {
  .mail{
    font-size: medium;
  }
  .icons {
    size: 10px;
  }
}