.header {
  display: flex;
  justify-content: center;
  background-color: rgba(100, 100, 100, 255);
  color: white;
  max-width: 100%;
  height: 2rem;
}

.header a {
  color: white;
  text-decoration: none;
}

.phone {
  color: rgba(100, 100, 100, 255);
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 3px;
}

@media (max-width: 768px) {
  .header{
    flex-direction: column;
    align-items: center;
    height: 4%;
  }
  
}