.header {
  display: flex;
  justify-content: center;
  background-color: rgba(100, 100, 100, 255);
  color: white;
  max-width: 120%;
  height: 1.7rem;
  font-size: small;
}

.header a {
  color: white;
  text-decoration: none;
}

.header p {
  width: 300px;
}

.phone {
  color: rgba(100, 100, 100, 255);
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 3px;
}

@media (max-width: 425px) {
  .header {
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    text-align: center;
  }

}
