.logo{
    cursor: pointer;
    width: 12rem;
}

.nav{
    margin-left: auto;
}

.user{
    color: white;
    background-color: gray;
    border: 1px solid;
    padding: 6px;
    border-radius: 50%;
}

.cart{
    color: white;
    background-color: gray;
    border: 1px solid;
    padding: 6px;
    border-radius: 50%;
}