.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 145, 145, 255);
  padding: 20px;
  color: white;
  margin: 0;
}

.newsletter_h6 {
  color: white;
  margin-top: 8px;
}

.newsletter_input {
  border: none;
  padding: 8px;
  width: 20rem;
  border-radius: 5px;
}

.newsletter button {
  background-color: rgba(145, 145, 145, 255);
  border: 1px solid gray;
  border-radius: 5px;
  width: 2.5rem;
  margin-right: 6px;
}

.newsIcon {
  color: white;
}

.input {
  border-radius: 5px;
  margin-left: 10px;
  background-color: white;
}

@media (max-width: 768px) {
  .newsletter {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .newsletter {
    align-items: center;
  }
  .newsletter_input {
    align-self: flex-start;
    width: 200px;
  }

  .newsletter_h6 {
    font-size: xx-small;
  }
}
