.img {
  height: 50rem;
  width: 50rem;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product_h6 {
  display: flex;
  justify-content: center;
}

.product a {
  text-decoration: none;
}
